@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title</h2>

<div class="text-center">
    <img src="~/Content/images/about_pic.jpg" class="img-fluid rounded" alt="Founders" />
</div>

<br />
<br />
<p>
    The Bike Shop is a place where you can shop for various items: from bikes to repair parts to accessories for riding.
    You can find it all at the Bike Shop!
</p>

<p>
    The Bike Shop started with a couple from Seattle, Washington. Their primary goal when starting the Bike Shop was just to help
    people acquire biking gear to motivate people outside and explore nature. They have traveled all over the country to participate
    in bike races, and help promote their store.
</p>

<p>
    Since starting the Bike Shop, the owners Michael and Catherine have had 3 daughters and a son. Their favorite place to bike
    and hike is Creve Coeur Lake Trail near their current home. They love to go on adventures on various trails around St. Louis,
    including Katy Trail and Forest Park. The family loves to be outdoors and go on fun excursions together.
</p>