@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title</h2>

<p>The Bike Shop is a place where you can shop for various items: from bikes to repair parts to accessories for riding. You can find it all at the Bike Shop! </p>
