@{
    ViewBag.Title = "Bike Shop Home";
}

<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=" device-width" />
    @*<script src="~/Content/source.js"></script>*@
    <title>Bike Shop Home</title>
</head>
<body>
    <h2 class="display-4">Welcome to the Bike Shop!</h2>
    <br />

    <div class="text-center">
        <img src="~/Content/images/TheBicycleShop_Logo.jpg" class="img-fluid rounded" alt="Founders" />
    </div>
    <br />
    <p>
        Welcome to the Bike Shop! Here you can find all sorts of different items and accessories to make
        your riding experience better. Whether you are in the market for a new bike, clothing, tires, bike racks,
        or bike technology the Bike Shop has it all!
    </p>

    <p>
        The Bike Shop likes to help out and be a part of the community anyway they can! 10% of the profits made from
        the Bike Shop gets donated back to various organizations around the St. Louis area. To get involved, please
        fill out the form under the 'Contact' link.
    </p>

    <br />
    <br />
    <p>
        To learn more about the Bike Shop and how it started, click the 'About' link.
    </p>
    <p>
        To get in contact with the Bike Shop, click the 'Contact' link.
    </p>
    <br />
    <br />
</body>
</html>